<style>
    div {
    display: flex;
    justify-content: center;
    align-items: center;
    }
</style>
<div>
    <button type="button" class="btn btn-secondary"><a href="/search">Search</a></button>
</div>
