<!DOCTYPE html>
<html lang="en">
    <style>
        .header{
            display: flex;
            justify-content:space-between;
            background-color: gainsboro;
            align-content:flex-start;
        }
        ul,a{
            display: flex;
            justify-content:center;
            align-items:center;
        }
        li{
            margin-right: 5px;
        }
    </style>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <h3 class=""><a href="/">Country Finder</a></h3>
        
            <ul>
                <% if(!currentUser) { %>
                    <li class="list-group-item"><a href='/auth/login'>Log In</a></li>
                    <li class="list-group-item"><a href='/auth/signup'>Sign Up</a></li>
                <% } else { %>
                    <li class="list-group-item"><a href='/profile'>Profile</a></li>
                    <li class="list-group-item"><a href='/auth/logout'>Log Out</a></li>
                <% } %>
            </ul>
    </div>

    <%- include('partials/alerts.ejs') %>
    <%- body %>
</body>
</html>