<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Auth</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div class="col-xs-9 col-md-9">
            <h3><a href="/">Country Finder</a></h3>
        </div>
        <div class="col-xs-3 col-md-3">
            <% if (currentUser) { %> 
                <h3>Hello, <%= currentUser.name  %> </h3>
            <% } %> 
            <% if (!currentUser) { %> 
                <h3>Hello, Guest </h3>
            <% } %> 
        </div>
    </div>

    <nav>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/search">Search</a></li>
            <% if(!currentUser) { %>
                <li class="list-group-item"><a href='/auth/signup'>Sign Up</a></li>
                <li class="list-group-item"><a href='/auth/login'>Log In</a></li>
            <% } else { %>
                <li class="list-group-item"><a href='/auth/logout'>Log Out</a></li>
                <li class="list-group-item"><a href='/profile'>Profile</a></li>
            <% } %>
        </ul>
    </nav>


    <%- include('partials/alerts.ejs') %>
    <%- body %>
</body>
</html>