<h5>Search By Country Name</h5>
<%- include('../partials/searchBar.ejs') %> 

<br>
<form action="/search/name/results" method="get">
    <input type="text" id="toSearch" name="toSearch" required>
    <input type="submit" class="btn btn-primary">
</form>